.list-item {
  display: flex;
  flex-direction: row;
  min-height: 150px;
  color: rgba(31,31,31,0.9);
  text-decoration: none;
  box-sizing: border-box;
  width: 100%;
  padding: 4px 15px;
  font-size: 18px;
  border-radius: 3px;

  &:hover {
    color: #f60;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

    .item-title {
      font-weight: 700;
    }
    .item-desc {

    }
  }

  .poster {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
  }
}
