.meat {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  .description {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

    .dsc_title {
      font-weight: 700;
    }

    .dsc_value {
      color: #252525;
    }
  }

  .poster {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
  }
}

.potatoes {

}